table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: auto;
    
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;
    
  }
  td{
    font-size: larger;
    font-weight: 700;
    color: rgb(41, 41, 41);
    padding: 30px;
  }
  th {
    background-color: #f2f2f2;
    font-size: x-large;
    font-weight: 800;
    
  }
  
  button {
    padding: 6px 12px;
    margin-right: 5px;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    color: white;
  }
  
  button:hover {
    background-color: #f2f2f2;
  }
  
  #delBut{
background-color: red;
  }
  #updateBut{
    background-color: rgb(67, 194, 3);
  }