<div class="wrapper">
    
    
    <div class="main">
        <input class="toggle" type="checkbox" id="chk" aria-hidden="true">
    
        <div class="login">
            <form class="form" (ngSubmit)="onLogin(email.value, password.value)">
                <label for="chk" aria-hidden="true">Log in</label>
                <input class="input" type="email" name="email" placeholder="Email" #email>
                <input class="input" type="password" name="pswd" placeholder="Password" #password>
                <app-alert *ngIf="showSuccessAlert" type="success" title="Success" message="Logged in successfully"></app-alert>
                <app-alert *ngIf="showFailedAlert" type="error" title="Error" message="Logged in Failed"></app-alert>
                
                <button type="submit">Log in</button>
            </form>
        </div>
    
        <div class="register">
            <form class="form" (ngSubmit)="onSignup(name.value, emailSignUp.value, passwordSignUp.value)">
                <label for="chk" aria-hidden="true">Register</label>
                <input class="input" type="text" name="txt" placeholder="Username" #name>
                <input class="input" type="email" name="email" placeholder="Email" #emailSignUp>
                <input class="input" type="password" name="pswd" placeholder="Password" #passwordSignUp>
                <app-alert *ngIf="showSuccessAlert" type="success" title="Success" message="Registered successfully"></app-alert>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    
    
</div>
 