#nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 93vw;
    border: 2px solid silver;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    background-color:#7678ed;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    text-align: center;
    color: white;
   
}
h1{
    padding-left: 35%;
    font-family: cursive;
}
button{
    background-color: #f18701;
    border: 0;
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color:  #f49d2b;
  }